@import "./colourizing";
@import "./formats/available-fonts";
@import "./formats/sizes";

.generic-style{
  //Usamos inline-block para ajustar automáticamente al tamaño del texto
  display: inline-block;
  width: 205px;
  height: 50px;
  padding: 10px;
  border: 1px black solid;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 1%;
}

.column{
  width: 80vw;
  display: flex;

  .alerts{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
  }
}

.warning-alert{

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .example{
    @extend .generic-style;
    background-color: $blue-color;
    font-family: $font-1;
    font-size: $size-3;
    color: $white-colour;
  }

  .code{
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }

}

.successfully-alert{

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .example{@extend .generic-style;
    background-color: $green-colour;
    color: $white-colour;
    font-family: $font-1;
    font-size: $size-3;
  }

  .code{
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }
}

.error-alert{

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .example{
    @extend .generic-style;
    background-color: $yellow-colour;
    color: $black-colour;
    font-family: $font-1;
    font-size: $size-3;
  }

  .code{
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }
}

.danger-alert{

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .example{
    @extend .generic-style;
    background-color: $red-colour;
    color: $white-colour;
    font-family: $font-1;
    font-size: $size-3;
  }

  .code{
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }
}

.generic_style{
  .code{
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }
}

