@import './formats/containers';
@import './formats/colours';
@import "./formats/buttons";


main{
    padding: 1%;
    display: flex;
    flex-direction: column;

    .introduction, .colorized-buttons{
        padding: 1%;
        display: flex;
        flex-direction: column;

        .button-test{
            display: flex;
            flex-direction: row;
            place-items: center;
        }

        button{
            display: grid;
            place-items: center;
            width: 30%;
        }

        button:hover{
            border: 1px black solid;
        }

        ul, ol{
            display: grid;
            place-items: center;

            li{
                display: grid;
                place-items: center;
                margin-top: 1%;
            }
        }

        .button-test{
            display: grid;
            place-items: center;
            margin-top: 5%;
            width: 25%;

            button{
                width: 100%;
                font-size: 20px;
            }
        }

        .rounded-buttons{
            ul{
                li{
                    display: grid;
                    place-items: center;
                    margin-top: 1%;
                }
            }
        }
    }

    .introduction{
        display: grid;

        .intro{
            grid-column: 1;
        }

        .button-test{
            display: grid;
            width: 100%;
            grid-template-columns: repeat(2, 1fr);

            .button-art{
                grid-column: 1;
            }

            h2{
                padding-bottom: 5%;
            }

            .code{
                background-color: transparent;
                width: 100%;
                grid-column: 2;
                padding: 5%;
            }
        }
    }

    .colorized-buttons{

    }
}
