@import './colours';

.red-colour-button{
  background-color: $red-colour;
}
.yellow-colour-button{
  background-color: $yellow-colour;
}
.green-colour-button{
  background-color: $green-colour;
}
.blue-colour-button{
  background-color: $blue-color;
}
.lightblue-colour-button{
  background-color: $light-blue-colour;
}
.white-colour-button{
  background-color: $white-colour;
}
.black-colour-button{
  background-color: $black-colour;
}
