@import './formats/colours';
@import './formats/sizes';

$background-width: 15em;
$background-height: 2em;

//Clase génerica. Me permite evitar repetir todo.
.background-style {
  width: $background-width;
  height: $background-height;
  text-align: center;
}

//Background colours
.set-red-background-colour{
  background-color: $red-colour;
  @extend .background-style;
}
.set-yellow-background-colour{
  background-color: $yellow-colour;
  @extend .background-style;
}
.set-green-background-colour{
  background-color: $green-colour;
  @extend .background-style;
}
.set-blue-background-colour{
  background-color: $blue-color;
  @extend .background-style;
}
.set-lightblue-background-colour{
  background-color: $light-blue-colour;
  @extend .background-style;
}
.set-white-background-colour{
  background-color: $white-colour;
  @extend .background-style;
}
.set-black-background-colour{
  background-color: $black-colour;
  @extend .background-style;
}

//Background colours
.set-red-colour{
  background-color: $red-colour;
}

.set-yellow-colour{
  background-color: $yellow-colour;
}

.set-green-colour{
  background-color: $green-colour;
}

.set-blue-colour{
  background-color: $blue-color;
}

.set-lightblue-colour{
  background-color: $light-blue-colour;
}

.set-white-colour{
  background-color: $white-colour;
}

.set-black-colour{
  background-color: $black-colour;
}

//Font colours
.set-red-font-colour{
  color: $red-colour;
}
.set-yellow-font-colour{
  color: $yellow-colour;
}
.set-green-font-colour{
  color: $green-colour;
}
.set-blue-font-colour{
  color: $blue-color;
}
.set-lightblue-font-colour{
  color: $light-blue-colour;
}
.set-white-font-colour{
  color: $white-colour;
}
.set-black-font-colour{
  color: $black-colour;
}
