@import './text-formatting';
@import "./colourizing";

.main{
  display: flex;
  flex-direction: column;
}

.title{
  margin: 3%;
}

input, textarea{
  display: inline-block;
  border: 1px black solid;
  border-radius: 15px;
  text-align: center;
  margin: 0 1%;
}

.send-button{
  width: 25%;
  padding-top: 10%;
  padding-left: 2%;

  button{
    border: 1px solid black;
    border-radius: 25px;
    width: 100%;
    height: 100%;
  }
}

.default-form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 3%;
  font-weight: $bold-format;

  .example{
    h2{
      padding-bottom: 1%;
    }

    form{
      margin-left: 1%;
      display: flex;
      flex-direction: column;
      place-items: center;
      background-color: $light-blue-colour;
      height: 350px;
      width: 50%;

      label{
        margin-top: 5%;
      }

      article{
        display: grid;
        gap: 5%;
        height: 100px;
      }

      article .top-input{
        background-color: $light-blue-colour;
      }

      article .bottom-input{
        background-color: $light-blue-colour;
      }

      .send-button{
        @extend .send-button;
        height: 5%;
        margin-top: 5%;

        button{
          background-color: #F5BDC8;
          border-radius: 25px;
        }
      }
    }
  }
  .code{
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }
}

.side-to-side-form{
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    padding-bottom: 1%;
  }

  form{
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: #BF616A;

    .get-data{
      display: flex;
      flex-direction: row;

      label{
        padding-top: 1%;
        padding-left: 1%;
      }

      .left-input, .right-input{
        padding-top: 1%;
        padding-left: 3%;
      }
    }

    .send-button{
      @extend .send-button;
      display: grid;
      place-items: center;
      padding-bottom: 3%;

      button{
        width: 100px;
        background-color: #88C0D0;
      }
    }
  }
}

.email-input-format{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;

  h2{
    padding-bottom: 1%;
    width: 45%;
  }

  form{
    background-color: $yellow-colour;
    padding: 5%;
    width: 35%;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2, 40%);

    input{
      width: 100%;
      height: 35px;
    }

    .get-sender-data{
      display: grid;
      gap: 10%;
    }

    .message-subject{
      padding-top: 1%;
      display: grid;
      gap: 10%;

      label{
        padding-top: 10%;
        padding-left: 1%;
      }

      textarea{
        width: 100%;
        height: 100px;
      }
    }

    .send-button{
      @extend .send-button;
      button{
        width: 100%;
        background-color: #98bb46;
        border-radius: 25px;
      }
    }
  }

}

.register-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;

  h2 {
    padding-bottom: 1%;
    width: 45%;
  }

  form {
    background: linear-gradient(90deg, #77ff80, rgba(46, 206, 183, 0.95));
    padding: 5%;
    width: 35%;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2, 40%);

    input {
      width: 100%;
      height: 35px;
      margin-top: 5%;
      display: flex;
      align-items: center;
    }

    .get-sender-data {
      display: grid;
      gap: 10%;
    }

    .get-sex {
      display: flex;
      flex-direction: row;

      label {
        padding-top: 10%;
        padding-left: 1%;
      }

      .male, .female{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 15%;
        padding-top: 5%;

        input[type="radio"]{
          transform: scale(1.25);
        }

        span{
          padding-left: 5%;
        }
      }
    }

    .finish{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 5%;

      .submit, .cancel{
        height: 35px;
        border: 1px solid black;
        border-radius: 25px;
      }
    }
  }
}

.send-files{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;

  h2 {
    padding-bottom: 1%;
    width: 45%;
  }

  form {
    background: #A75D5D;
    padding: 5%;
    width: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: repeat(2, 40%);

    input {
      width: 100%;
      height: 35px;
      padding-top: 5%;
      display: flex;
      align-items: center;
    }

    input[type="file"] {
      border-radius: 25px; /* ajusta el borde del botón */
      padding: 0;
    }


    button{
      margin-top: 5%;
      width: 25%;
      border: 1px black solid;
      border-radius: 25px;
    }

  }
}
