.background-style, .set-black-background-colour, .set-white-background-colour, .set-lightblue-background-colour, .set-blue-background-colour, .set-green-background-colour, .set-yellow-background-colour, .set-red-background-colour {
  width: 15em;
  height: 2em;
  text-align: center;
}

.set-red-background-colour {
  background-color: #BF616A;
}

.set-yellow-background-colour {
  background-color: #EBCB8B;
}

.set-green-background-colour {
  background-color: #A3BE8C;
}

.set-blue-background-colour {
  background-color: #5E81AC;
}

.set-lightblue-background-colour {
  background-color: #88C0D0;
}

.set-white-background-colour {
  background-color: #ECEFF4;
}

.set-black-background-colour {
  background-color: #2E3440;
}

.set-red-colour {
  background-color: #BF616A;
}

.set-yellow-colour {
  background-color: #EBCB8B;
}

.set-green-colour {
  background-color: #A3BE8C;
}

.set-blue-colour {
  background-color: #5E81AC;
}

.set-lightblue-colour {
  background-color: #88C0D0;
}

.set-white-colour {
  background-color: #ECEFF4;
}

.set-black-colour {
  background-color: #2E3440;
}

.set-red-font-colour {
  color: #BF616A;
}

.set-yellow-font-colour {
  color: #EBCB8B;
}

.set-green-font-colour {
  color: #A3BE8C;
}

.set-blue-font-colour {
  color: #5E81AC;
}

.set-lightblue-font-colour {
  color: #88C0D0;
}

.set-white-font-colour {
  color: #ECEFF4;
}

.set-black-font-colour {
  color: #2E3440;
}

.header {
  background-color: #5E81AC;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  justify-content: center;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: #ECEFF4;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 60px;
}

nav .logo img {
  width: 60px;
  height: 70px;
  padding-top: 10px;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover {
  background-color: #034574;
  transition: 0.5s;
}

img {
  width: 40px;
  height: auto;
}

.nav-toggle {
  border: none;
  align-self: center;
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    background-color: #2E3440;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 40px;
  }
  nav .logo img {
    width: 40px;
    height: 50px;
    padding-top: 10px;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #2E3440;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }
  .nav-toggle {
    display: block;
    padding-right: 20px;
  }
  .nav-menu-visible {
    left: 0;
  }
  .nav-menu-link:hover {
    transition: 0.5s;
  }
  img {
    width: 30px;
    height: auto;
  }
  .nav {
    justify-content: space-between;
  }
}
#sidemenu {
  background-color: rgb(52, 52, 52);
  color: white;
  position: fixed;
  height: 88%;
  left: 0;
  top: 12.4%;
  overflow-y: auto;
}

#sidemenu a {
  color: white;
  text-decoration: none;
}

/*HEADER*/
#sidemenu #header {
  box-sizing: border-box;
  border-bottom: solid 1px rgb(23, 23, 23);
}

#sidemenu #header #title {
  box-sizing: border-box;
  overflow: hidden;
}

#sidemnu #header #title, #sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #menu-btn {
  display: inline-block;
}

#sidemenu #header #menu-btn {
  cursor: pointer;
  padding: 10px;
  width: 50px;
  box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover {
  background-color: rgb(23, 23, 23);
}

#sidemenu #header #menu-btn .bth-hambruger {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

/*PROFILE*/
#sidemenu #profile {
  border-bottom: solid 1px rgb(23, 23, 23);
  padding: 10px 0;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#sidemenu #profile #photo, #sidemenu #profile #name {
  font-size: 24px;
  padding: 10px 0;
  overflow: hidden;
}

/*ITEM*/
#sidemenu #menu-item {
  overflow: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#sidemenu #menu-item .item {
  width: 300px;
}

#sidemenu #menu-item .item.title {
  font-size: 14px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-item .item a {
  display: block;
}

#sidemenu #menu-item .item a:hover {
  background-color: rgb(23, 23, 23);
}

#sidemenu #menu-item .item .icon {
  box-sizing: border-box;
  padding: 10px;
  width: 50px;
}

#sidemenu #menu-item .item .title {
  padding: 10px 0;
  text-align: center;
}

#sidemenu #menu-item .item.separator {
  height: 1px;
  border-bottom: solid 1px rgb(23, 23, 23);
  margin: 0;
}

@media (max-width: 1000px) {
  #sidemenu {
    display: none;
  }
  .body-mar {
    margin-left: 20px;
  }
}

/*# sourceMappingURL=navbar.css.map */
