@import "./formats/sizes";

//Bordes, márgenes y padding

$top-spacing: $size-4; //Separación superior
$bottom-spacing: $size-4; //Separación inferior
$left-spacing: $size-4; //Separación izquierda
$right-spacing: $size-4; //Separación derecha
$general-spacing: $size-4; //Separación total
$border-size: $size-4; //Tamaño del borde


