@import 'formats/colours';

.main{
  padding: 1%;

  .introduction{
    display: grid;
  }

  .text-size, .text-colours, .text-types{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1% 1%;

    .code{
      display: flex;
      flex-direction: column;
      background-color: transparent;
      margin-left: 35%;
    }

    .sizes{
      margin-left: 35%;
    }

    .styles{
      margin-left: 35%;
    }
  }

  .text-size{
    ul{
      li{
        margin-top: 1%;
      }
    }
  }

  .text-colours{
    ul{
      display: grid;
      place-items: center;

      li{
        display: grid;
        place-items: center;
        margin: 1%;
        width: 100%;
      }
    }
  }

  .text-types{
    ul{
      li{
        padding-top: 1%;
        p{
          display: grid;
          place-items: center;
          margin: 1%;
        }
      }
    }
  }

}
