@import './formats/text-format';
@import './formats/sizes';

.bold-text-format{
  font-style: $bold-format;
}

.italic-text-format{
  font-style: $italic-format;
}

.underline-text-format{
  text-decoration:  $underline-format;
}

.strike-text-format{
  text-decoration:  $strike-format;
}

.text-size-1{
  font-size: $size-1;
}

.text-size-2{
  font-size: $size-2;
}

.text-size-3{
  font-size: $size-3;
}

.text-size-4{
  font-size: $size-4;
}

.text-size-5{
  font-size: $size-5;
}

.text-size-6{
  font-size: $size-6;
}

