@charset "UTF-8";
.redondear-1 {
  border-radius: 10%;
}
.redondear-2 {
  border-radius: 20%;
}
.redondear-3 {
  border-radius: 30%;
}
.redondear-4 {
  border-radius: 40%;
}
.redondear-5 {
  border-radius: 50%;
}

.bg-blue {
  background-color: var(#5E81AC);
}
.bg-yellow {
  background-color: var(#EBCB8B);
}
.bg-red {
  background-color: var(#BF616A);
}
.bg-green {
  background-color: var(#A3BE8C);
}
.bg-black {
  background-color: var(#2E3440);
}
.bg-ligth-blue {
  background-color: var(#88C0D0);
}
.bg-white {
  background-color: var(#ECEFF4);
}

.ocult {
  display: none;
}

.mov-fijo-derecha {
  position: fixed;
  right: 5%;
}
.mov-fijo-derecha-centro {
  position: fixed;
  right: 5%;
  top: 50%;
}
.mov-fijo-derecha-abajo {
  position: fixed;
  right: 5%;
  bottom: 0%;
}
.mov-fijo-izquierda {
  position: fixed;
  left: 5%;
}
.mov-fijo-izquierda-centro {
  position: fixed;
  top: 50%;
}
.mov-fijo-izquierda-abajo {
  position: fixed;
  left: 5%;
  bottom: 0%;
}

.mov-inmobible-derecha {
  position: absolute;
  right: 0%;
}
.mov-inmobible-derecha-centro {
  position: absolute;
  right: 0%;
  top: 50vh;
}
.mov-inmobible-derecha-abajo {
  position: absolute;
  right: 0%;
  top: 95vh;
}
.mov-inmobible-izquierda {
  position: absolute;
  left: 0%;
}
.mov-inmobible-izquierda-centro {
  position: absolute;
  top: 50vh;
}
.mov-inmobible-izquierda-abajo {
  position: absolute;
  top: 95vh;
}

.centrar {
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.text-center {
  text-align: center;
}

.text-justific {
  text-align: justify;
}

.interlineado {
  line-height: 35px;
}

.text-principal {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.fondo-degradado-1 {
  background: #114357; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F29492, #114357); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F29492, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fondo-degradado-2 {
  background: #4DA0B0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fondo-degradado-3 {
  background: #eacda3; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.fondo-degradado-4 {
  background: #403A3E; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BE5869, #403A3E); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BE5869, #403A3E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-2 {
  padding-top: 0px;
  display: flex;
  width: 90vw;
  height: 80vh;
}

.main-3 {
  padding: 0;
  display: flex;
  width: 90vw;
}

.nav, .nav-image-space {
  background-color: black;
  --img1: scale(1);
  --img2: scale(0);
  width: 100%;
  position: fixed;
  margin-bottom: 2px;
}

.nav-image-space {
  position: static;
}

.nav:has(.dropdown:target), .nav-image-space:has(.dropdown:target) {
  --img1: scale(0);
  --img2: scale(1);
  --clip: inset(0 0 0 0);
}

.nav_container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-areas: "title boton img";
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav_container2 {
  grid-template-areas: "boton img";
  grid-template-columns: auto 10%;
}

.nav_container3 {
  grid-template-columns: 100%;
  grid-template-areas: "boton";
}

.nav_title {
  grid-area: title;
  display: flex;
  justify-content: center;
}

.nav_title img {
  width: 75px;
  margin: 0px;
  padding: 0;
}

.nav_menu {
  grid-area: img;
  position: relative;
  left: 60%;
  z-index: 10;
  transform: var(--img1);
}

.nav-menu-2 {
  grid-area: img;
  position: static;
  left: 60%;
}

.nav_menu--second {
  transform: var(--img2);
}

.nav_boton {
  grid-area: boton;
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 20px;
  justify-content: center;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav_boton a {
  margin: 0 30px;
  padding: 10px;
}

.nav_boton a:hover {
  background-color: rgb(15, 53, 43);
  border-radius: 10%;
}

.nav_icon {
  width: 30px;
  display: block;
}

.dropdown {
  position: fixed;
  background-color: rgb(48, 48, 53);
  width: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1em;
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  clip-path: var(--clip, inset(0 0 100% 100%));
  transition: clip-path 0.5s;
  text-align: center;
}

.dropdown_list {
  list-style: none;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}

.dropdown_link {
  color: white;
  padding: 1em 0.7em;
  text-decoration: none;
}

.dropdown_link:hover {
  background-color: rgb(76, 100, 100);
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .nav_container {
    grid-template-columns: 10% auto 10%;
  }
}
@media (max-width: 700px) {
  .nav_boton {
    display: none;
  }
  .nav_menu {
    left: 40%;
  }
}
.bold-text-format {
  font-style: bold;
  font-weight: bold;
}

.italic-text-format {
  font-style: italic;
  font-weight: italic;
}

.underline-text-format {
  text-decoration: underline;
}

.strike-text-format {
  text-decoration: line-through;
}

.text-size-1 {
  font-size: 35px;
}

.text-size-2 {
  font-size: 30px;
}

.text-size-3 {
  font-size: 25px;
}

.text-size-4 {
  font-size: 20px;
}

.text-size-5 {
  font-size: 15px;
}

.text-size-6 {
  font-size: 10px;
}

.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.fw-normal {
  font-weight: normal;
}

.fw-medium {
  font-weight: 500;
}

.fw-thin {
  font-weight: 100;
}

.fw-black {
  font-weight: 900;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-orange {
  color: orange;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.m-5 {
  margin: 2rem;
}

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mx-1 {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.mx-2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.mx-3 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-4 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.mx-5 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 2rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.ms-0 {
  margin-left: 0;
}

.ms-1 {
  margin-left: 0.25rem;
}

.ms-2 {
  margin-left: 0.5rem;
}

.ms-3 {
  margin-left: 1rem;
}

.ms-4 {
  margin-left: 1.5rem;
}

.ms-5 {
  margin-left: 2rem;
}

.me-0 {
  margin-right: 0;
}

.me-1 {
  margin-right: 0.25rem;
}

.me-2 {
  margin-right: 0.5rem;
}

.me-3 {
  margin-right: 1rem;
}

.me-4 {
  margin-right: 1.5rem;
}

.me-5 {
  margin-right: 2rem;
}

.border {
  border: 1px solid #f5f5f5;
}

.border-top {
  border-top: 1px solid #f5f5f5;
}

.borer-end {
  border-right: 1px solid #f5f5f5;
}

.border-bottom {
  border-bottom: 1px solid #f5f5f5;
}

.border-start {
  border-left: 1px solid #f5f5f5;
}

.background-style, .set-black-background-colour, .set-white-background-colour, .set-lightblue-background-colour, .set-blue-background-colour, .set-green-background-colour, .set-yellow-background-colour, .set-red-background-colour {
  width: 15em;
  height: 2em;
  text-align: center;
}

.set-red-background-colour {
  background-color: #BF616A;
}

.set-yellow-background-colour {
  background-color: #EBCB8B;
}

.set-green-background-colour {
  background-color: #A3BE8C;
}

.set-blue-background-colour {
  background-color: #5E81AC;
}

.set-lightblue-background-colour {
  background-color: #88C0D0;
}

.set-white-background-colour {
  background-color: #ECEFF4;
}

.set-black-background-colour {
  background-color: #2E3440;
}

.set-red-colour {
  background-color: #BF616A;
}

.set-yellow-colour {
  background-color: #EBCB8B;
}

.set-green-colour {
  background-color: #A3BE8C;
}

.set-blue-colour {
  background-color: #5E81AC;
}

.set-lightblue-colour {
  background-color: #88C0D0;
}

.set-white-colour {
  background-color: #ECEFF4;
}

.set-black-colour {
  background-color: #2E3440;
}

.set-red-font-colour {
  color: #BF616A;
}

.set-yellow-font-colour {
  color: #EBCB8B;
}

.set-green-font-colour {
  color: #A3BE8C;
}

.set-blue-font-colour {
  color: #5E81AC;
}

.set-lightblue-font-colour {
  color: #88C0D0;
}

.set-white-font-colour {
  color: #ECEFF4;
}

.set-black-font-colour {
  color: #2E3440;
}

* {
  font-size: 20px;
}

.set-font-1 {
  font-family: Arial;
}

.set-font-2 {
  font-family: sans-serif;
}

.set-font-3 {
  font-family: consolas;
}

.set-font-4 {
  font-family: Inter;
}

.background-style, .set-red-background-colour, .set-yellow-background-colour, .set-green-background-colour, .set-blue-background-colour, .set-lightblue-background-colour, .set-white-background-colour, .set-black-background-colour {
  width: 15em;
  height: 2em;
  text-align: center;
}

.set-red-background-colour {
  background-color: #BF616A;
}

.set-yellow-background-colour {
  background-color: #EBCB8B;
}

.set-green-background-colour {
  background-color: #A3BE8C;
}

.set-blue-background-colour {
  background-color: #5E81AC;
}

.set-lightblue-background-colour {
  background-color: #88C0D0;
}

.set-white-background-colour {
  background-color: #ECEFF4;
}

.set-black-background-colour {
  background-color: #2E3440;
}

.set-red-colour {
  background-color: #BF616A;
}

.set-yellow-colour {
  background-color: #EBCB8B;
}

.set-green-colour {
  background-color: #A3BE8C;
}

.set-blue-colour {
  background-color: #5E81AC;
}

.set-lightblue-colour {
  background-color: #88C0D0;
}

.set-white-colour {
  background-color: #ECEFF4;
}

.set-black-colour {
  background-color: #2E3440;
}

.set-red-font-colour {
  color: #BF616A;
}

.set-yellow-font-colour {
  color: #EBCB8B;
}

.set-green-font-colour {
  color: #A3BE8C;
}

.set-blue-font-colour {
  color: #5E81AC;
}

.set-lightblue-font-colour {
  color: #88C0D0;
}

.set-white-font-colour {
  color: #ECEFF4;
}

.set-black-font-colour {
  color: #2E3440;
}

* {
  font-size: 20px;
}

.set-font-1 {
  font-family: Arial;
}

.set-font-2 {
  font-family: sans-serif;
}

.set-font-3 {
  font-family: consolas;
}

.set-font-4 {
  font-family: Inter;
}

.generic-style, .danger-alert .example, .error-alert .example, .successfully-alert .example, .warning-alert .example {
  display: inline-block;
  width: 205px;
  height: 50px;
  padding: 10px;
  border: 1px black solid;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 1%;
}

.column {
  width: 80vw;
  display: flex;
}
.column .alerts {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.warning-alert {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.warning-alert .example {
  background-color: #5E81AC;
  font-family: Arial;
  font-size: 25px;
  color: #ECEFF4;
}
.warning-alert .code {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.successfully-alert {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.successfully-alert .example {
  background-color: #A3BE8C;
  color: #ECEFF4;
  font-family: Arial;
  font-size: 25px;
}
.successfully-alert .code {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.error-alert {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.error-alert .example {
  background-color: #EBCB8B;
  color: #2E3440;
  font-family: Arial;
  font-size: 25px;
}
.error-alert .code {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.danger-alert {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.danger-alert .example {
  background-color: #BF616A;
  color: #ECEFF4;
  font-family: Arial;
  font-size: 25px;
}
.danger-alert .code {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.generic_style .code {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.btn, .btn-outline-orange, .btn-outline-green, .btn-outline-blue {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 120%;
}

.btn-outline-blue {
  color: blue;
  border-color: blue;
}

.btn-outline-blue:hover {
  background-color: blue;
  color: white;
}

.btn-outline-green {
  color: green;
  border-color: green;
}

.btn-outline-green:hover {
  background-color: green;
  color: white;
}

.btn-outline-orange {
  color: orange;
  border-color: orange;
}

.btn-outline-orange:hover {
  background-color: orange;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.col {
  flex-shrink: 0;
  flex-basis: 0;
}

.col-1 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 8.3333333%;
}

.col-2 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 16.6666667%;
}

.col-3 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 25%;
}

.col-4 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 33.3333333%;
}

.col-5 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 41.6666667%;
}

.col-6 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 50%;
}

.col-7 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 58.3333333%;
}

.col-8 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 66.6666667%;
}

.col-9 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 75%;
}

.col-10 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 83.3333333%;
}

.col-11 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 91.6666667%;
}

.col-12 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
}

.col-auto {
  width: auto;
}

.bold-text-format {
  font-style: bold;
  font-weight: bold;
}

.italic-text-format {
  font-style: italic;
  font-weight: italic;
}

.underline-text-format {
  text-decoration: underline;
}

.strike-text-format {
  text-decoration: line-through;
}

.text-size-1 {
  font-size: 35px;
}

.text-size-2 {
  font-size: 30px;
}

.text-size-3 {
  font-size: 25px;
}

.text-size-4 {
  font-size: 20px;
}

.text-size-5 {
  font-size: 15px;
}

.text-size-6 {
  font-size: 10px;
}

.fw-bold {
  font-weight: bold;
}

.fw-bolder {
  font-weight: bolder;
}

.fw-normal {
  font-weight: normal;
}

.fw-medium {
  font-weight: 500;
}

.fw-thin {
  font-weight: 100;
}

.fw-black {
  font-weight: 900;
}

.text-black {
  color: black;
}

.text-white {
  color: white;
}

.text-orange {
  color: orange;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.m-5 {
  margin: 2rem;
}

.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mx-1 {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

.mx-2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.mx-3 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mx-4 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.mx-5 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 2rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 2rem;
}

.ms-0 {
  margin-left: 0;
}

.ms-1 {
  margin-left: 0.25rem;
}

.ms-2 {
  margin-left: 0.5rem;
}

.ms-3 {
  margin-left: 1rem;
}

.ms-4 {
  margin-left: 1.5rem;
}

.ms-5 {
  margin-left: 2rem;
}

.me-0 {
  margin-right: 0;
}

.me-1 {
  margin-right: 0.25rem;
}

.me-2 {
  margin-right: 0.5rem;
}

.me-3 {
  margin-right: 1rem;
}

.me-4 {
  margin-right: 1.5rem;
}

.me-5 {
  margin-right: 2rem;
}

.border {
  border: 1px solid #f5f5f5;
}

.border-top {
  border-top: 1px solid #f5f5f5;
}

.borer-end {
  border-right: 1px solid #f5f5f5;
}

.border-bottom {
  border-bottom: 1px solid #f5f5f5;
}

.border-start {
  border-left: 1px solid #f5f5f5;
}

.background-style, .set-red-background-colour, .set-yellow-background-colour, .set-green-background-colour, .set-blue-background-colour, .set-lightblue-background-colour, .set-white-background-colour, .set-black-background-colour {
  width: 15em;
  height: 2em;
  text-align: center;
}

.set-red-background-colour {
  background-color: #BF616A;
}

.set-yellow-background-colour {
  background-color: #EBCB8B;
}

.set-green-background-colour {
  background-color: #A3BE8C;
}

.set-blue-background-colour {
  background-color: #5E81AC;
}

.set-lightblue-background-colour {
  background-color: #88C0D0;
}

.set-white-background-colour {
  background-color: #ECEFF4;
}

.set-black-background-colour {
  background-color: #2E3440;
}

.set-red-colour {
  background-color: #BF616A;
}

.set-yellow-colour {
  background-color: #EBCB8B;
}

.set-green-colour {
  background-color: #A3BE8C;
}

.set-blue-colour {
  background-color: #5E81AC;
}

.set-lightblue-colour {
  background-color: #88C0D0;
}

.set-white-colour {
  background-color: #ECEFF4;
}

.set-black-colour {
  background-color: #2E3440;
}

.set-red-font-colour {
  color: #BF616A;
}

.set-yellow-font-colour {
  color: #EBCB8B;
}

.set-green-font-colour {
  color: #A3BE8C;
}

.set-blue-font-colour {
  color: #5E81AC;
}

.set-lightblue-font-colour {
  color: #88C0D0;
}

.set-white-font-colour {
  color: #ECEFF4;
}

.set-black-font-colour {
  color: #2E3440;
}

.main {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 3%;
}

input, textarea {
  display: inline-block;
  border: 1px black solid;
  border-radius: 15px;
  text-align: center;
  margin: 0 1%;
}

.send-button, .email-input-format .example form .send-button, .side-to-side-form .example form .send-button, .default-form .example form .send-button {
  width: 25%;
  padding-top: 10%;
  padding-left: 2%;
}
.send-button button, .email-input-format .example form .send-button button, .side-to-side-form .example form .send-button button, .default-form .example form .send-button button {
  border: 1px solid black;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

.default-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}
.default-form .example h2 {
  padding-bottom: 1%;
}
.default-form .example form {
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: #88C0D0;
  height: 350px;
  width: 100%;
}
.default-form .example form label {
  margin-top: 5%;
}
.default-form .example form article {
  display: grid;
  gap: 5%;
  height: 100px;
}
.default-form .example form article .top-input {
  background-color: #88C0D0;
}
.default-form .example form article .bottom-input {
  background-color: #88C0D0;
}
.default-form .example form .send-button {
  height: 5%;
  margin-top: 5%;
}
.default-form .example form .send-button button {
  background-color: #F5BDC8;
  border-radius: 25px;
}
.default-form .code {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.side-to-side-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-to-side-form .example h2 {
  padding-bottom: 1%;
}
.side-to-side-form .example form {
  width: 85%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background-color: #BF616A;
}
.side-to-side-form .example form .get-data {
  display: flex;
  flex-direction: row;
}
.side-to-side-form .example form .get-data label {
  padding-top: 1%;
  padding-left: 1%;
}
.side-to-side-form .example form .get-data .left-input, .side-to-side-form .example form .get-data .right-input {
  padding-top: 1%;
  padding-left: 3%;
}
.side-to-side-form .example form .send-button {
  display: grid;
  place-items: center;
  padding-bottom: 3%;
}
.side-to-side-form .example form .send-button button {
  width: 100px;
  background-color: #88C0D0;
}
.side-to-side-form .code {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.email-input-format {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}
.email-input-format .example h2 {
  padding-bottom: 1%;
}
.email-input-format .example form {
  background-color: #EBCB8B;
  padding: 5%;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 40%);
}
.email-input-format .example form input {
  width: 100%;
  height: 35px;
}
.email-input-format .example form .get-sender-data {
  display: grid;
  gap: 10%;
}
.email-input-format .example form .message-subject {
  padding-top: 1%;
  display: grid;
  gap: 10%;
}
.email-input-format .example form .message-subject label {
  padding-top: 10%;
  padding-left: 1%;
}
.email-input-format .example form .message-subject textarea {
  width: 100%;
  height: 100px;
}
.email-input-format .example form .send-button button {
  width: 100%;
  background-color: #98bb46;
  border-radius: 25px;
}
.email-input-format .code {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.register-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}
.register-input .example h2 {
  padding-bottom: 1%;
}
.register-input .example form {
  background: linear-gradient(90deg, #77ff80, rgba(46, 206, 183, 0.95));
  padding: 5%;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 40%);
}
.register-input .example form input {
  width: 100%;
  height: 35px;
  margin-top: 5%;
  display: flex;
  align-items: center;
}
.register-input .example form .get-sender-data {
  display: grid;
  gap: 10%;
}
.register-input .example form .get-sex {
  display: flex;
  flex-direction: row;
}
.register-input .example form .get-sex label {
  padding-top: 10%;
  padding-left: 1%;
}
.register-input .example form .get-sex .male, .register-input .example form .get-sex .female {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 15%;
  padding-top: 5%;
}
.register-input .example form .get-sex .male input[type=radio], .register-input .example form .get-sex .female input[type=radio] {
  transform: scale(1.25);
}
.register-input .example form .get-sex .male span, .register-input .example form .get-sex .female span {
  padding-left: 5%;
}
.register-input .example form .finish {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
}
.register-input .example form .finish .submit, .register-input .example form .finish .cancel {
  height: 35px;
  border: 1px solid black;
  border-radius: 25px;
}
.register-input .code {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.send-files {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}
.send-files h2 {
  padding-bottom: 1%;
}
.send-files .example form {
  background: #A75D5D;
  padding: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-template-columns: repeat(2, 40%);
}
.send-files .example form input {
  width: 100%;
  height: 35px;
  padding-top: 5%;
  display: flex;
  align-items: center;
}
.send-files .example form input[type=file] {
  border-radius: 25px; /* ajusta el borde del botón */
  padding: 0;
}
.send-files .example form button {
  margin-top: 5%;
  width: 25%;
  border: 1px black solid;
  border-radius: 25px;
}
.send-files .code {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 556px;
  }
}
@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 740px;
  }
}
@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1180px;
  }
}
@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    min-width: 1380px;
  }
}
.btn, .btn-outline-blue, .btn-outline-green, .btn-outline-orange {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 120%;
}

.btn-outline-blue {
  color: blue;
  border-color: blue;
}

.btn-outline-blue:hover {
  background-color: blue;
  color: white;
}

.btn-outline-green {
  color: green;
  border-color: green;
}

.btn-outline-green:hover {
  background-color: green;
  color: white;
}

.btn-outline-orange {
  color: orange;
  border-color: orange;
}

.btn-outline-orange:hover {
  background-color: orange;
  color: white;
}

main {
  padding: 1%;
  display: flex;
  flex-direction: column;
}
main .introduction, main .colorized-buttons {
  padding: 1%;
  display: flex;
  flex-direction: column;
}
main .introduction .button-test, main .colorized-buttons .button-test {
  display: flex;
  flex-direction: row;
  place-items: center;
}
main .introduction button, main .colorized-buttons button {
  display: grid;
  place-items: center;
  width: 30%;
}
main .introduction button:hover, main .colorized-buttons button:hover {
  border: 1px black solid;
}
main .introduction ul, main .introduction ol, main .colorized-buttons ul, main .colorized-buttons ol {
  display: grid;
  place-items: center;
}
main .introduction ul li, main .introduction ol li, main .colorized-buttons ul li, main .colorized-buttons ol li {
  display: grid;
  place-items: center;
  margin-top: 1%;
}
main .introduction .button-test, main .colorized-buttons .button-test {
  display: grid;
  place-items: center;
  margin-top: 5%;
  width: 25%;
}
main .introduction .button-test button, main .colorized-buttons .button-test button {
  width: 100%;
  font-size: 20px;
}
main .introduction .rounded-buttons ul li, main .colorized-buttons .rounded-buttons ul li {
  display: grid;
  place-items: center;
  margin-top: 1%;
}
main .introduction {
  display: grid;
}
main .introduction .intro {
  grid-column: 1;
}
main .introduction .button-test {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
main .introduction .button-test .button-art {
  grid-column: 1;
}
main .introduction .button-test h2 {
  padding-bottom: 5%;
}
main .introduction .button-test .code {
  background-color: transparent;
  width: 100%;
  grid-column: 2;
  padding: 5%;
}
main .colorized-buttons {
  display: grid;
}
main .colorized-buttons h2 {
  padding: 0;
}
main .colorized-buttons .intro {
  grid-column: 1;
}
main .colorized-buttons .font-colour-classes, main .colorized-buttons .back-colour-classes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
main .colorized-buttons .font-colour-classes .classes, main .colorized-buttons .back-colour-classes .classes {
  grid-column: 1;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  height: 100%;
}
main .colorized-buttons .font-colour-classes .code, main .colorized-buttons .back-colour-classes .code {
  background-color: transparent;
  width: 100%;
  grid-column: 2;
  padding-bottom: 5%;
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  height: 100%;
}
main .colorized-buttons .font-colour-classes .blue, main .colorized-buttons .font-colour-classes .yellow, main .colorized-buttons .font-colour-classes .green, main .colorized-buttons .font-colour-classes .lightblue, main .colorized-buttons .font-colour-classes .black, main .colorized-buttons .font-colour-classes .red, main .colorized-buttons .font-colour-classes .white, main .colorized-buttons .back-colour-classes .blue, main .colorized-buttons .back-colour-classes .yellow, main .colorized-buttons .back-colour-classes .green, main .colorized-buttons .back-colour-classes .lightblue, main .colorized-buttons .back-colour-classes .black, main .colorized-buttons .back-colour-classes .red, main .colorized-buttons .back-colour-classes .white {
  border: 0.5px lightgrey solid;
}
main .colorized-buttons .font-colour-classes .colours, main .colorized-buttons .back-colour-classes .colours {
  height: 100%;
}
main .colorized-buttons .font-colour-classes .colours p, main .colorized-buttons .back-colour-classes .colours p {
  margin: 5%;
}
main .rounded-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main .rounded-buttons .classes {
  display: flex;
  flex-direction: column;
  grid-column: 1;
  place-items: center;
  height: 100%;
}
main .rounded-buttons .classes button {
  width: 50%;
  margin-top: 20%;
}
main .rounded-buttons .blue, main .rounded-buttons .green, main .rounded-buttons .orange {
  border: 1px black solid;
}
main .rounded-buttons .orange {
  margin-bottom: 5%;
}
main .rounded-buttons .code {
  background-color: transparent;
}

.main {
  padding: 1%;
}
.main .introduction {
  display: grid;
}
.main .text-size, .main .text-colours, .main .text-types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1% 1%;
}
.main .text-size .code, .main .text-colours .code, .main .text-types .code {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  margin-left: 35%;
}
.main .text-size .sizes, .main .text-colours .sizes, .main .text-types .sizes {
  margin-left: 35%;
}
.main .text-size .styles, .main .text-colours .styles, .main .text-types .styles {
  margin-left: 35%;
}
.main .text-size ul li {
  margin-top: 1%;
}
.main .text-colours ul {
  display: grid;
  place-items: center;
}
.main .text-colours ul li {
  display: grid;
  place-items: center;
  margin: 1%;
  width: 100%;
}
.main .text-types ul li {
  padding-top: 1%;
}
.main .text-types ul li p {
  display: grid;
  place-items: center;
  margin: 1%;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 556px;
  }
}
@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 740px;
  }
}
@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1180px;
  }
}
@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    min-width: 1380px;
  }
}
.background-style, .set-red-background-colour, .set-yellow-background-colour, .set-green-background-colour, .set-blue-background-colour, .set-lightblue-background-colour, .set-white-background-colour, .set-black-background-colour {
  width: 15em;
  height: 2em;
  text-align: center;
}

.set-red-background-colour {
  background-color: #BF616A;
}

.set-yellow-background-colour {
  background-color: #EBCB8B;
}

.set-green-background-colour {
  background-color: #A3BE8C;
}

.set-blue-background-colour {
  background-color: #5E81AC;
}

.set-lightblue-background-colour {
  background-color: #88C0D0;
}

.set-white-background-colour {
  background-color: #ECEFF4;
}

.set-black-background-colour {
  background-color: #2E3440;
}

.set-red-colour {
  background-color: #BF616A;
}

.set-yellow-colour {
  background-color: #EBCB8B;
}

.set-green-colour {
  background-color: #A3BE8C;
}

.set-blue-colour {
  background-color: #5E81AC;
}

.set-lightblue-colour {
  background-color: #88C0D0;
}

.set-white-colour {
  background-color: #ECEFF4;
}

.set-black-colour {
  background-color: #2E3440;
}

.set-red-font-colour {
  color: #BF616A;
}

.set-yellow-font-colour {
  color: #EBCB8B;
}

.set-green-font-colour {
  color: #A3BE8C;
}

.set-blue-font-colour {
  color: #5E81AC;
}

.set-lightblue-font-colour {
  color: #88C0D0;
}

.set-white-font-colour {
  color: #ECEFF4;
}

.set-black-font-colour {
  color: #2E3440;
}

.code {
  width: auto;
  background-color: #2E3440;
  margin-top: 1%;
}
.code .middle {
  margin-left: 0%;
}
.code .internal {
  margin-left: 0%;
}

main {
  margin: 0;
  padding: 0;
}
main .description {
  width: 85%;
}
main p {
  margin-left: 0;
}
main .default-container {
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: lightgrey;
  border: 1px black solid;
}
main .responsive-container-modes {
  display: grid;
  place-items: initial;
}
main .responsive-container-modes .small-responsive {
  margin-top: 3%;
  width: 90%;
  background-color: #2E3440;
  border: 1px black solid;
}
main .responsive-container-modes .middle-responsive {
  margin-top: 3%;
  width: 768px;
  background-color: #2E3440;
  border: 1px black solid;
}
main .responsive-container-modes .large-responsive {
  margin-top: 3%;
  width: 992px;
  background-color: #2E3440;
  border: 1px black solid;
}
main .responsive-container-modes .xtra-large-responsive {
  margin-top: 3%;
  width: 1200px;
  background-color: #2E3440;
  border: 1px black solid;
}
main .responsive-container-modes .xtra-xtra-large-responsive {
  margin-top: 3%;
  width: 1400px;
  background-color: #2E3440;
  border: 1px black solid;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.code {
  width: auto;
  background-color: #2E3440;
  margin-top: 1%;
}

.code .middle {
  margin-left: 3%;
}

.code .internal {
  margin-left: 5%;
}

.code .more-internal {
  margin-left: 7%;
}

.code .latest {
  margin-left: 10%;
}

.code .xd {
  margin-left: 13%;
}

.code .xd-2 {
  margin-left: 15%;
}

.main {
  padding-top: 100px;
  display: flex;
  width: 90vw;
  margin: 0 5vw;
  height: 80vh;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.col {
  flex-shrink: 0;
  flex-basis: 0;
}

.col-1 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 8.3333333%;
}

.col-2 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 16.6666667%;
}

.col-3 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 25%;
}

.col-4 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 33.3333333%;
}

.col-5 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 41.6666667%;
}

.col-6 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 50%;
}

.col-7 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 58.3333333%;
}

.col-8 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 66.6666667%;
}

.col-9 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 75%;
}

.col-10 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 83.3333333%;
}

.col-11 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 91.6666667%;
}

.col-12 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
}

.col-auto {
  width: auto;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
  width: 100%;
  height: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 556px;
  }
}
@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 740px;
  }
}
@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1180px;
  }
}
@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    min-width: 1380px;
  }
}
.btn, .btn-outline-blue, .btn-outline-green, .btn-outline-orange {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 120%;
}

.btn-outline-blue {
  color: blue;
  border-color: blue;
}

.btn-outline-blue:hover {
  background-color: blue;
  color: white;
}

.btn-outline-green {
  color: green;
  border-color: green;
}

.btn-outline-green:hover {
  background-color: green;
  color: white;
}

.btn-outline-orange {
  color: orange;
  border-color: orange;
}

.btn-outline-orange:hover {
  background-color: orange;
  color: white;
}

.card, .card-shadow {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-shadow {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  cursor: default;
}

.card-shadow:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(3%);
}

.card-body {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-img {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-body {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 1rem;
}

.badge, .badge-icono {
  display: inline-block;
  padding: 0.3rem;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  color: white;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.15rem;
}

.badge-icono {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50rem;
}

/*# sourceMappingURL=helixus.css.map */
