.redondear-1 {
  border-radius: 10%;
}
.redondear-2 {
  border-radius: 20%;
}
.redondear-3 {
  border-radius: 30%;
}
.redondear-4 {
  border-radius: 40px;
}
.redondear-5 {
  border-radius: 50px;
}

.bg-blue {
  background-color: var(#5E81AC);
}
.bg-yellow {
  background-color: var(#EBCB8B);
}
.bg-red {
  background-color: var(#BF616A);
}
.bg-green {
  background-color: var(#A3BE8C);
}
.bg-black {
  background-color: var(#2E3440);
}
.bg-ligth-blue {
  background-color: var(#88C0D0);
}
.bg-white {
  background-color: var(#ECEFF4);
}

.ocult {
  display: none;
}

.mov-fijo-derecha {
  position: fixed;
  right: 5%;
}
.mov-fijo-derecha-centro {
  position: fixed;
  right: 5%;
  top: 50%;
}
.mov-fijo-derecha-abajo {
  position: fixed;
  right: 5%;
  bottom: 0%;
}
.mov-fijo-izquierda {
  position: fixed;
  left: 5%;
}
.mov-fijo-izquierda-centro {
  position: fixed;
  top: 50%;
}
.mov-fijo-izquierda-abajo {
  position: fixed;
  left: 5%;
  bottom: 0%;
}

.mov-inmobible-derecha {
  position: absolute;
  right: 0%;
}
.mov-inmobible-derecha-centro {
  position: absolute;
  right: 0%;
  top: 50vh;
}
.mov-inmobible-derecha-abajo {
  position: absolute;
  right: 0%;
  top: 95vh;
}
.mov-inmobible-izquierda {
  position: absolute;
  left: 0%;
}
.mov-inmobible-izquierda-centro {
  position: absolute;
  top: 50vh;
}
.mov-inmobible-izquierda-abajo {
  position: absolute;
  top: 95vh;
}

.nav {
  background-color: black;
  --img1: scale(1);
  --img2: scale(0);
}

.nav:has(.dropdown:target) {
  --img1: scale(0);
  --img2: scale(1);
  --clip: inset(0 0 0 0);
}

.nav_container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-areas: "title boton img";
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav_title {
  grid-area: title;
  display: flex;
  justify-content: center;
}

.nav_title img {
  width: 75px;
  margin: 0px;
  padding: 0;
}

.nav_menu {
  grid-area: img;
  position: relative;
  left: 70%;
  z-index: 10;
  transform: var(--img1);
}

.nav_menu--second {
  transform: var(--img2);
}

.nav_boton {
  grid-area: boton;
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav_boton a {
  margin: 0 30px;
  padding: 10px;
}

.nav_boton a:hover {
  background-color: rgb(15, 53, 43);
  border-radius: 10%;
}

.nav_icon {
  width: 30px;
  display: block;
}

.dropdown {
  position: absolute;
  background-color: rgb(48, 48, 53);
  width: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 1em;
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  clip-path: var(--clip, inset(0 0 100% 100%));
  transition: clip-path 0.5s;
  text-align: center;
}

.dropdown_list {
  list-style: none;
  border-bottom: 1px solid white;
  padding-bottom: 15px;
}

.dropdown_link {
  color: white;
  padding: 1em 0.7em;
  text-decoration: none;
}

.dropdown_link:hover {
  background-color: rgb(76, 100, 100);
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .nav_container {
    grid-template-columns: 10% auto 10%;
  }
}
@media (max-width: 700px) {
  .nav_boton {
    display: none;
  }
  .nav_menu {
    left: 40%;
  }
}
.bold-text-format {
  font-style: bold;
}

.italic-text-format {
  font-style: italic;
}

.underline-text-format {
  text-decoration: underline;
}

.strike-text-format {
  text-decoration: line-through;
}

.text-size-1 {
  font-size: 35px;
}

.text-size-2 {
  font-size: 30px;
}

.text-size-3 {
  font-size: 25px;
}

.text-size-4 {
  font-size: 20px;
}

.text-size-5 {
  font-size: 15px;
}

.text-size-6 {
  font-size: 10px;
}

.background-style, .set-black-background-colour, .set-white-background-colour, .set-lightblue-background-colour, .set-blue-background-colour, .set-green-background-colour, .set-yellow-background-colour, .set-red-background-colour {
  width: 15em;
  height: 2em;
  text-align: center;
}

.set-red-background-colour {
  background-color: #BF616A;
}

.set-yellow-background-colour {
  background-color: #EBCB8B;
}

.set-green-background-colour {
  background-color: #A3BE8C;
}

.set-blue-background-colour {
  background-color: #5E81AC;
}

.set-lightblue-background-colour {
  background-color: #88C0D0;
}

.set-white-background-colour {
  background-color: #ECEFF4;
}

.set-black-background-colour {
  background-color: #2E3440;
}

.set-red-colour {
  background-color: #BF616A;
}

.set-yellow-colour {
  background-color: #EBCB8B;
}

.set-green-colour {
  background-color: #A3BE8C;
}

.set-blue-colour {
  background-color: #5E81AC;
}

.set-lightblue-colour {
  background-color: #88C0D0;
}

.set-white-colour {
  background-color: #ECEFF4;
}

.set-black-colour {
  background-color: #2E3440;
}

.set-red-font-colour {
  color: #BF616A;
}

.set-yellow-font-colour {
  color: #EBCB8B;
}

.set-green-font-colour {
  color: #A3BE8C;
}

.set-blue-font-colour {
  color: #5E81AC;
}

.set-lightblue-font-colour {
  color: #88C0D0;
}

.set-white-font-colour {
  color: #ECEFF4;
}

.set-black-font-colour {
  color: #2E3440;
}

* {
  font-size: 20px;
}

.set-font-1 {
  font-family: Arial;
}

.set-font-2 {
  font-family: sans-serif;
}

.set-font-3 {
  font-family: consolas;
}

.set-font-4 {
  font-family: Inter;
}

.background-style, .set-red-background-colour, .set-yellow-background-colour, .set-green-background-colour, .set-blue-background-colour, .set-lightblue-background-colour, .set-white-background-colour, .set-black-background-colour {
  width: 15em;
  height: 2em;
  text-align: center;
}

.set-red-background-colour {
  background-color: #BF616A;
}

.set-yellow-background-colour {
  background-color: #EBCB8B;
}

.set-green-background-colour {
  background-color: #A3BE8C;
}

.set-blue-background-colour {
  background-color: #5E81AC;
}

.set-lightblue-background-colour {
  background-color: #88C0D0;
}

.set-white-background-colour {
  background-color: #ECEFF4;
}

.set-black-background-colour {
  background-color: #2E3440;
}

.set-red-colour {
  background-color: #BF616A;
}

.set-yellow-colour {
  background-color: #EBCB8B;
}

.set-green-colour {
  background-color: #A3BE8C;
}

.set-blue-colour {
  background-color: #5E81AC;
}

.set-lightblue-colour {
  background-color: #88C0D0;
}

.set-white-colour {
  background-color: #ECEFF4;
}

.set-black-colour {
  background-color: #2E3440;
}

.set-red-font-colour {
  color: #BF616A;
}

.set-yellow-font-colour {
  color: #EBCB8B;
}

.set-green-font-colour {
  color: #A3BE8C;
}

.set-blue-font-colour {
  color: #5E81AC;
}

.set-lightblue-font-colour {
  color: #88C0D0;
}

.set-white-font-colour {
  color: #ECEFF4;
}

.set-black-font-colour {
  color: #2E3440;
}

* {
  font-size: 20px;
}

.set-font-1 {
  font-family: Arial;
}

.set-font-2 {
  font-family: sans-serif;
}

.set-font-3 {
  font-family: consolas;
}

.set-font-4 {
  font-family: Inter;
}

.generic-style, .danger-alert, .error-alert, .successfully-alert, .warning-alert {
  display: inline-block;
  height: 50px;
  padding: 10px;
  border: 1px black solid;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 5%;
}

.column {
  width: 80vw;
  display: flex;
}
.column .alerts {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.warning-alert {
  background-color: #5E81AC;
  font-family: Arial;
  font-size: 25px;
  color: #ECEFF4;
}

.successfully-alert {
  background-color: #A3BE8C;
  color: #ECEFF4;
  font-family: Arial;
  font-size: 25px;
}

.error-alert {
  background-color: #EBCB8B;
  color: #2E3440;
  font-family: Arial;
  font-size: 25px;
}

.danger-alert {
  background-color: #BF616A;
  color: #ECEFF4;
  font-family: Arial;
  font-size: 25px;
}

.btn, .btn-outline-orange, .btn-outline-green, .btn-outline-blue {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 120%;
}

.btn-outline-blue {
  color: blue;
  border-color: blue;
}

.btn-outline-blue:hover {
  background-color: blue;
  color: white;
}

.btn-outline-green {
  color: green;
  border-color: green;
}

.btn-outline-green:hover {
  background-color: green;
  color: white;
}

.btn-outline-orange {
  color: orange;
  border-color: orange;
}

.btn-outline-orange:hover {
  background-color: orange;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.col {
  flex-shrink: 0;
  flex-basis: 0;
}

.col-1 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 8.3333333%;
}

.col-2 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 16.6666667%;
}

.col-3 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 25%;
}

.col-4 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 33.3333333%;
}

.col-5 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 41.6666667%;
}

.col-6 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 50%;
}

.col-7 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 58.3333333%;
}

.col-8 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 66.6666667%;
}

.col-9 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 75%;
}

.col-10 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 83.3333333%;
}

.col-11 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 91.6666667%;
}

.col-12 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
}

.col-auto {
  width: auto;
}

.bold-text-format {
  font-style: bold;
}

.italic-text-format {
  font-style: italic;
}

.underline-text-format {
  text-decoration: underline;
}

.strike-text-format {
  text-decoration: line-through;
}

.text-size-1 {
  font-size: 35px;
}

.text-size-2 {
  font-size: 30px;
}

.text-size-3 {
  font-size: 25px;
}

.text-size-4 {
  font-size: 20px;
}

.text-size-5 {
  font-size: 15px;
}

.text-size-6 {
  font-size: 10px;
}

.background-style, .set-red-background-colour, .set-yellow-background-colour, .set-green-background-colour, .set-blue-background-colour, .set-lightblue-background-colour, .set-white-background-colour, .set-black-background-colour {
  width: 15em;
  height: 2em;
  text-align: center;
}

.set-red-background-colour {
  background-color: #BF616A;
}

.set-yellow-background-colour {
  background-color: #EBCB8B;
}

.set-green-background-colour {
  background-color: #A3BE8C;
}

.set-blue-background-colour {
  background-color: #5E81AC;
}

.set-lightblue-background-colour {
  background-color: #88C0D0;
}

.set-white-background-colour {
  background-color: #ECEFF4;
}

.set-black-background-colour {
  background-color: #2E3440;
}

.set-red-colour {
  background-color: #BF616A;
}

.set-yellow-colour {
  background-color: #EBCB8B;
}

.set-green-colour {
  background-color: #A3BE8C;
}

.set-blue-colour {
  background-color: #5E81AC;
}

.set-lightblue-colour {
  background-color: #88C0D0;
}

.set-white-colour {
  background-color: #ECEFF4;
}

.set-black-colour {
  background-color: #2E3440;
}

.set-red-font-colour {
  color: #BF616A;
}

.set-yellow-font-colour {
  color: #EBCB8B;
}

.set-green-font-colour {
  color: #A3BE8C;
}

.set-blue-font-colour {
  color: #5E81AC;
}

.set-lightblue-font-colour {
  color: #88C0D0;
}

.set-white-font-colour {
  color: #ECEFF4;
}

.set-black-font-colour {
  color: #2E3440;
}

.main {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 3%;
}

input, textarea {
  display: inline-block;
  border: 1px black solid;
  border-radius: 15px;
  text-align: center;
  margin: 0 1%;
}

.send-button, .email-input-format form .send-button, .side-to-side-form form .send-button, .default-form form .send-button {
  width: 25%;
  padding-top: 10%;
  padding-left: 2%;
}
.send-button button, .email-input-format form .send-button button, .side-to-side-form form .send-button button, .default-form form .send-button button {
  border: 1px solid black;
  border-radius: 25px;
  width: 100%;
  height: 100%;
}

.default-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
  font-weight: bold;
}
.default-form h2 {
  padding-bottom: 1%;
}
.default-form form {
  margin-left: 1%;
  display: grid;
  place-items: center;
  background-color: #88C0D0;
  height: 350px;
  width: 25%;
}
.default-form form label {
  margin: 1%;
}
.default-form form article {
  display: grid;
  gap: 5%;
  height: 100px;
}
.default-form form article .top-input {
  background-color: #88C0D0;
}
.default-form form article .bottom-input {
  background-color: #88C0D0;
}
.default-form form .send-button {
  height: 25%;
  padding-top: 0;
}
.default-form form .send-button button {
  background-color: #F5BDC8;
  border-radius: 25px;
}

.side-to-side-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-to-side-form h2 {
  padding-bottom: 1%;
}
.side-to-side-form form {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  background-color: #BF616A;
}
.side-to-side-form form .get-data {
  display: flex;
  flex-direction: row;
}
.side-to-side-form form .get-data label {
  padding-top: 1%;
  padding-left: 1%;
}
.side-to-side-form form .get-data .left-input, .side-to-side-form form .get-data .right-input {
  padding-top: 1%;
  padding-left: 3%;
}
.side-to-side-form form .send-button {
  display: grid;
  place-items: center;
  padding-bottom: 3%;
}
.side-to-side-form form .send-button button {
  width: 100px;
  background-color: #88C0D0;
}

.email-input-format {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}
.email-input-format h2 {
  padding-bottom: 1%;
  width: 45%;
}
.email-input-format form {
  background-color: #EBCB8B;
  padding: 5%;
  width: 35%;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 40%);
}
.email-input-format form input {
  width: 100%;
  height: 35px;
}
.email-input-format form .get-sender-data {
  display: grid;
  gap: 10%;
}
.email-input-format form .message-subject {
  padding-top: 1%;
  display: grid;
  gap: 10%;
}
.email-input-format form .message-subject label {
  padding-top: 10%;
  padding-left: 1%;
}
.email-input-format form .message-subject textarea {
  width: 100%;
  height: 100px;
}
.email-input-format form .send-button button {
  background-color: #98bb46;
  border-radius: 25px;
}

.register-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3%;
}
.register-input h2 {
  padding-bottom: 1%;
  width: 45%;
}
.register-input form {
  background: linear-gradient(90deg, #77ff80, rgba(46, 206, 183, 0.95));
  padding: 5%;
  width: 35%;
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(2, 40%);
}
.register-input form input {
  width: 100%;
  height: 35px;
  margin-top: 5%;
  display: flex;
  align-items: center;
}
.register-input form .get-sender-data {
  display: grid;
  gap: 10%;
}
.register-input form .get-sex {
  display: flex;
  flex-direction: row;
}
.register-input form .get-sex label {
  padding-top: 10%;
  padding-left: 1%;
}
.register-input form .get-sex .male, .register-input form .get-sex .female {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  padding-top: 5%;
}
.register-input form .get-sex .male input[type=radio], .register-input form .get-sex .female input[type=radio] {
  transform: scale(1.25);
}
.register-input form .get-sex .male span, .register-input form .get-sex .female span {
  padding-left: 5%;
}
.register-input form .get-sex .finish {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.register-input form .get-sex .finish .submit, .register-input form .get-sex .finish .cancel {
  border: 1px solid black;
  border-radius: 5%;
}

* {
  margin: 0;
  box-sizing: border-box;
}

.main {
  margin: 0;
  padding: 0;
  display: flex;
  width: 80vw;
  height: 80vh;
}

.body-mar {
  padding: 90px;
  margin-left: 250px;
}

.body-bars {
  padding: 90px;
  width: 85%;
  margin: 0 7.5%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}

.col {
  flex-shrink: 0;
  flex-basis: 0;
}

.col-1 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 8.3333333%;
}

.col-2 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 16.6666667%;
}

.col-3 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 25%;
}

.col-4 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 33.3333333%;
}

.col-5 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 41.6666667%;
}

.col-6 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 50%;
}

.col-7 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 58.3333333%;
}

.col-8 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 66.6666667%;
}

.col-9 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 75%;
}

.col-10 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 83.3333333%;
}

.col-11 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 91.6666667%;
}

.col-12 {
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
}

.col-auto {
  width: auto;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container, .container-sm {
    max-width: 556px;
  }
}
@media (min-width: 768px) {
  .container, .container-sm, .container-md {
    max-width: 740px;
  }
}
@media (min-width: 992px) {
  .container, .container-sm, .container-md, .container-lg {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1180px;
  }
}
@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    min-width: 1380px;
  }
}
.btn, .btn-outline-blue, .btn-outline-green, .btn-outline-orange {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 120%;
}

.btn-outline-blue {
  color: blue;
  border-color: blue;
}

.btn-outline-blue:hover {
  background-color: blue;
  color: white;
}

.btn-outline-green {
  color: green;
  border-color: green;
}

.btn-outline-green:hover {
  background-color: green;
  color: white;
}

.btn-outline-orange {
  color: orange;
  border-color: orange;
}

.btn-outline-orange:hover {
  background-color: orange;
  color: white;
}

.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  border: 1px solid hsla(0, 0%, 0%, 0.12);
  border-radius: 0.2rem;
}

.card-body {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding: 1rem;
}

.header {
  background-color: #5E81AC;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: center;
  max-width: 992px;
  margin: 0 auto;
}

.nav-link {
  color: #ECEFF4;
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 60px;
}

nav .logo img {
  width: 60px;
  height: 70px;
  padding-top: 10px;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover {
  background-color: #034574;
  transition: 0.5s;
}

img {
  width: 40px;
  height: auto;
}

.nav-toggle {
  border: none;
  align-self: center;
  display: none;
  cursor: pointer;
}

.badge, .badge-icono {
  display: inline-block;
  padding: 0.3rem;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  color: white;
  vertical-align: baseline;
  text-align: center;
  white-space: nowrap;
  border-radius: 0.15rem;
}

.badge-icono {
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 50rem;
}

@media (max-width: 768px) {
  .header {
    background-color: #2E3440;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  .logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 40px;
  }
  nav .logo img {
    width: 40px;
    height: 50px;
    padding-top: 10px;
  }
  .nav-menu {
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: #2E3440;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
  }
  .nav-toggle {
    display: block;
    padding-right: 20px;
  }
  .nav-menu-visible {
    left: 0;
  }
  .nav-menu-link:hover {
    transition: 0.5s;
  }
  img {
    width: 30px;
    height: auto;
  }
  .nav {
    justify-content: space-between;
  }
}
#sidemenu {
  background-color: rgb(52, 52, 52);
  color: white;
  position: fixed;
  height: 88%;
  left: 0;
  top: 12.4%;
  overflow-y: auto;
}

#sidemenu a {
  color: white;
  text-decoration: none;
}

/*HEADER*/
#sidemenu #header {
  box-sizing: border-box;
  border-bottom: solid 1px rgb(23, 23, 23);
}

#sidemenu #header #title {
  box-sizing: border-box;
  overflow: hidden;
}

#sidemnu #header #title, #sidemenu #header #menu-btn {
  vertical-align: middle;
}

#sidemenu #header #menu-btn {
  display: inline-block;
}

#sidemenu #header #menu-btn {
  cursor: pointer;
  padding: 10px;
  width: 50px;
  box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover {
  background-color: rgb(23, 23, 23);
}

#sidemenu #header #menu-btn .bth-hambruger {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin: 5px 0;
}

/*PROFILE*/
#sidemenu #profile {
  border-bottom: solid 1px rgb(23, 23, 23);
  padding: 10px 0;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#sidemenu #profile #photo, #sidemenu #profile #name {
  font-size: 24px;
  padding: 10px 0;
  overflow: hidden;
}

/*ITEM*/
#sidemenu #menu-item {
  overflow: hidden;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#sidemenu #menu-item .item {
  width: 300px;
}

#sidemenu #menu-item .item.title {
  font-size: 14px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

#sidemenu #menu-item .item a {
  display: block;
}

#sidemenu #menu-item .item a:hover {
  background-color: rgb(23, 23, 23);
}

#sidemenu #menu-item .item .icon {
  box-sizing: border-box;
  padding: 10px;
  width: 50px;
}

#sidemenu #menu-item .item .title {
  padding: 10px 0;
  text-align: center;
}

#sidemenu #menu-item .item.separator {
  height: 1px;
  border-bottom: solid 1px rgb(23, 23, 23);
  margin: 0;
}

@media (max-width: 1000px) {
  #sidemenu {
    display: none;
  }
  .body-mar {
    margin-left: 20px;
  }
}

/*# sourceMappingURL=helixus.css.map */
