//Colours
//Using the nord colorscheme. Source: https://www.nordtheme.com/
@use 'modific';
@import './modules/text-formatting';
@import './modules/colourizing';
@import './modules/formats/available-fonts';
@import './modules/alerts';

$width: 300px;
$padding: 10px;
$bgcolor: rgb(52,52,52);
$hovercolor: rgb(23,23,23);
$width-collapsed: 50px;

* {
    margin: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    width: 80vw;
    //height: 75vh;
}

.body-mar{
    padding: 90px;
    margin-left: 250px;
}
.body-bars{
    padding: 90px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.col{
    flex-shrink: 0;
    flex-basis: 0;
}

.col-1{
    flex-shrink: 0;
    flex-basis: auto;
    width: 8.3333333%;
}

.col-2{
    flex-shrink: 0;
    flex-basis: auto;
    width: 16.6666667%;
}

.col-3{
    flex-shrink: 0;
    flex-basis: auto;
    width: 25%;
}

.col-4{
    flex-shrink: 0;
    flex-basis: auto;
    width: 33.3333333%;
}

.col-5{
    flex-shrink: 0;
    flex-basis: auto;
    width: 41.6666667%;
}

.col-6{
    flex-shrink: 0;
    flex-basis: auto;
    width: 50%;
}

.col-7{
    flex-shrink: 0;
    flex-basis: auto;
    width: 58.3333333%;
}

.col-8{
    flex-shrink: 0;
    flex-basis: auto;
    width: 66.6666667%;
}

.col-9{
    flex-shrink: 0;
    flex-basis: auto;
    width: 75%;
}

.col-10{
    flex-shrink: 0;
    flex-basis: auto;
    width: 83.3333333%;
}
.col-11{
    flex-shrink: 0;
    flex-basis: auto;
    width: 91.6666667%;
}
.col-12{
    flex-shrink: 0;
    flex-basis: auto;
    width: 100%;
}

.col-auto{
    //flex-shrink: 0;
    width: auto;
}

.container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container, .container-sm{
        max-width: 556px;
    }
}

@media (min-width: 768px) {
    .container, .container-sm, .container-md{
        max-width: 740px;
    }
}

@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg{
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl{
        max-width: 1180px;
    }
}

@media (min-width: 1400px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl{
        min-width: 1380px;
    }
}


.btn{
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 120%;
}

.btn-outline-blue{
    @extend .btn;
    color: blue;
    border-color: blue;
}

.btn-outline-blue:hover{
    background-color: blue;
    color: white;
}

.btn-outline-green{
    @extend .btn;
    color: green;
    border-color: green;
}

.btn-outline-green:hover{
    background-color: green;
    color: white;
}

.btn-outline-orange{
    @extend .btn;
    color: orange;
    border-color: orange;
}

.btn-outline-orange:hover{
    background-color: orange;
    color: white;
}

.card{
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    border: 1px solid hsla(0, 0%, 0%, 0.12);
    border-radius: 0.20rem;
}

.card-body{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding: 1rem;
}

.header{
    background-color: $blue-color;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav{
    display: flex;
    justify-content: center;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: $white-colour;
    text-decoration: none;
}

.logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 60px;
}

nav .logo img{
    width: 60px;
    height: 70px;
    padding-top: 10px;
}


.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover{
    background-color: #034574;
    transition: 0.5s;
}

img{
    width: 40px;
    height: auto;
}

.nav-toggle{
    //background-color: none;
    border: none;
    align-self: center;
    //margin: none;
    display: none;
    cursor: pointer
}

.badge{
    display: inline-block;
    padding: 0.3rem;
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1;
    color: white;
    vertical-align: baseline;
    text-align: center;
    white-space: nowrap;
    border-radius: 0.15rem;
}

.badge-icono{
    @extend .badge;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 50rem;
}

@media(max-width: 768px){
    .header{
        background-color: $black-colour;
        height: 60px;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }
    .logo{
        font-size: 30px;
        font-weight: bold;
        padding: 0 40px;
        line-height: 40px;
    }
    nav .logo img{
        width: 40px;
        height: 50px;
        padding-top: 10px;
    }
    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: $black-colour;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    
    .nav-toggle{
        display: block;
        padding-right: 20px;
    }

    .nav-menu-visible{
        left: 0;
    }
    .nav-menu-link:hover{
        transition: 0.5s;
    }
    img{
        width: 30px;
        height: auto;
    }
    .nav{
        justify-content: space-between;
    }
}

#sidemenu{
    background-color: $bgcolor;
    color: white;
    position: fixed;
    height: 88%;
    left: 0;
    top: 12.4%;
    overflow-y: auto;
}

#sidemenu a{
    color: white;
    text-decoration: none;
}

/*HEADER*/

#sidemenu #header{
    box-sizing: border-box;
    border-bottom: solid 1px $hovercolor;
}
#sidemenu #header #title{
    box-sizing: border-box;
    overflow: hidden;
}

#sidemnu #header #title, #sidemenu #header #menu-btn{
    vertical-align: middle;
}
#sidemenu #header #menu-btn{
    display: inline-block;
}
#sidemenu #header #menu-btn{
    cursor: pointer;
    padding: 10px;
    width: $width-collapsed;
    box-sizing: border-box;
}

#sidemenu #header #menu-btn:hover{
    background-color: $hovercolor;
}

#sidemenu #header #menu-btn .bth-hambruger{
    background-color: #fff;
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

/*PROFILE*/
#sidemenu #profile{
    border-bottom: solid 1px $hovercolor;
    padding: $padding 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#sidemenu #profile #photo, #sidemenu #profile #name{
    font-size: 24px;
    padding: $padding 0;
    overflow: hidden;
}

/*ITEM*/
#sidemenu #menu-item{
    overflow: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#sidemenu #menu-item .item{
    width: $width;
}
#sidemenu #menu-item .item.title{
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
}
#sidemenu #menu-item .item a{
    display: block;
}
#sidemenu #menu-item .item a:hover{
    background-color: $hovercolor;
}
#sidemenu #menu-item .item .icon{
    box-sizing: border-box;
    padding: $padding;
    width: $width-collapsed;
}
#sidemenu #menu-item .item .title{
    padding: $padding 0;
    text-align: center;
}

#sidemenu #menu-item .item.separator{
    height: 1px;
    border-bottom: solid 1px $hovercolor;
    margin: 0;
}

@media (max-width: 1000px){
    #sidemenu{
        display: none;
    }
    .body-mar{
        margin-left: 20px;
    }
}

.footer{
    background-color: $black-colour;
    color: $white-colour;
    justify-content: end;
    align-items: end;
}
